.navbar-brand{
    margin-left: 33rem;
    font-weight: bold;
}
.card{
    margin-top: 5rem;
}
.a{
    margin-left: 4.5rem;
}
.a1{
    margin-left: 2.5rem;
}
.a2{
    margin-left: 2.5rem;
}
.a3{
    margin-left: 2.5rem;
}
.a4{
    margin-left: 0.5rem;
}
.a5{
    margin-left: 2.5rem;
}
.a6{
    margin-right: 3rem;
}
.a7{
    margin-left: 2.5rem;
}